/*specifiche contact*/
p{
    font-family: "zai Olivetti Lettera 22 Typewriter", Sans, sans-serif;
    font-size: 45px;
    padding:0 10px 10px 5px;
    margin:30px;
    color: #2f57b6;
}

h1{
    text-align: left;
    font-size: 35px;
    margin: 30px;
    background-color: #f6a11f;
    text-indent: 80px;
    letter-spacing: 1px;
}

.imm{
    float: left;
    transform: rotate(-15deg);
    width: 190px;
    height: auto;
    margin: 18px;
}

form{
    align-items: center;
    font-size: 24px;
    margin: 30px 10px 10px 20px;
    display: inline-block;
    font-weight: bolder;
    padding: 60px;
    border-radius: 16px;
    background-color: rgba(243, 212, 32, 0.85);
    border: 2px solid #3f4b65;
}

label{
    /*background-color: #f3d420;*/
}

input, textarea{
    font-size: 16px;
    border-radius: 13px;
    border-color: black;
    padding: 10px;
}

.imm2{
    float: right;
    display: inline;
    transform: rotate(15deg);
    width: 300px;
    height: auto;
    margin: 70px;
    padding-right: 40px;
}

@media screen and (min-device-width: 520px) and (max-device-width: 1142px){
    .imm2{
        float: right;
        width: 25vw;
    }
    #modulo{
        width: 40%;
    }
    textarea{
        display: flex;
        flex-wrap: wrap;
        object-fit: contain;
        width: 300px;
    }
    input, textarea{
        font-size: 20px;
    }
    label{
        font-size: 30px;
    }
}

@media screen and (min-device-width: 466px) and (max-device-width: 520px){
    .imm2{
        float: right;
        width: 30vw;
    }
    #modulo{
        width: 30%;
    }
    textarea{
        display: flex;
        flex-wrap: wrap;
        object-fit: contain;
        width: 250px;
    }
    input, textarea{
        font-size: 23px;
    }
    label{
        font-size: 33px;
    }
    h1{
        font-size: 40px;
    }
}

@media screen and (min-device-width: 1px) and (max-device-width: 466px){
    .imm2{
        display: none;
    }
    input, textarea{
        font-size: 30px;
    }
    label{
        font-size: 40px;
    }
    textarea{
        display: flex;
        flex-wrap: wrap;
        object-fit: contain;
        width: 450px;
    }
}

